.app-lesson {
    margin: auto;
    display: grid;
    width: 1280px;
    height: 1000px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: px;*/
}

.app-lesson-content {
    grid-area: c;
    background-color: aliceblue ;
    grid-template-columns: auto;
}
